<!DOCTYPE html>
<html>
<head>
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao nosso Hospital!</h1>
        <img src="{{ url_for('static', filename='images/hospital.png') }}" width="30%">
        <div class="button-container">
            <button class="button" onclick="window.location.href='api/patient'">Adicionar Paciente</button>
            <button class="button" onclick="window.location.href='api/patients'">Ver Todos os Pacientes</button>
        </div>
    </div>
</body>
</html>
